@import "../../css-config/mixins.scss";
.container__productList {
  .title__productList {
    margin: 40px;
    color: gray;
    margin-left: 23%;
    font-size: 1.5rem;
    text-transform: uppercase;
    @include md {
      font-size: 3rem;
      margin-left: 30%;
    }
  }

  .filterContainer {
    display: flex;
    justify-content: space-between;
  }

  .filters {
    margin: 20px;
  }

  .filter__text {
    font-size: 20px;
    font-weight: 600;
    margin-right: 20px;
  }

  .selects {
    padding: 10px;
    margin-right: 20px;
  }
}
